pkgbase = kingsmerchant
	pkgdesc = Native POE2 price-check overlay for KDE Plasma 6 Wayland
	pkgver = 0.9.2
	pkgrel = 1
	url = https://github.com/webtemp/Kingsmerchant
	install = kingsmerchant.install
	arch = x86_64
	license = MIT OR GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = libxkbcommon
	depends = wayland
	depends = libglvnd
	depends = xclip
	depends = xdotool
	depends = xdg-utils
	depends = hicolor-icon-theme
	options = !lto
	options = !debug
	source = kingsmerchant-0.9.2.tar.gz::https://github.com/webtemp/Kingsmerchant/archive/refs/tags/v0.9.2.tar.gz
	sha256sums = 20e22ad835b6d0869d73b8179e9bca85e23c43c2fda3915b7720835ee99b80f4

pkgname = kingsmerchant
