pkgbase = kingsmerchant
	pkgdesc = Native POE2 price-check overlay for KDE Plasma 6 Wayland
	pkgver = 0.11.0
	pkgrel = 1
	url = https://github.com/webtemp/Kingsmerchant
	install = kingsmerchant.install
	arch = x86_64
	license = MIT OR GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = libxkbcommon
	depends = wayland
	depends = libglvnd
	depends = xclip
	depends = xdotool
	depends = xdg-utils
	depends = hicolor-icon-theme
	options = !lto
	options = !debug
	source = kingsmerchant-0.11.0.tar.gz::https://github.com/webtemp/Kingsmerchant/archive/refs/tags/v0.11.0.tar.gz
	sha256sums = cde903c9087ad57b815f5f3cc562e14fa09e0faa7ed28541d2ffebea72077376

pkgname = kingsmerchant
