pkgbase = kingsmerchant
	pkgdesc = Native POE2 price-check overlay for KDE Plasma 6 Wayland
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/webtemp/kingsmerchant
	install = kingsmerchant.install
	arch = x86_64
	license = MIT OR GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = libxkbcommon
	depends = wayland
	depends = libglvnd
	depends = xclip
	depends = xdotool
	depends = xdg-utils
	depends = hicolor-icon-theme
	source = kingsmerchant-0.9.1.tar.gz::https://github.com/webtemp/kingsmerchant/archive/refs/tags/v0.9.1.tar.gz
	sha256sums = 87d79c4f934320ff10f4e57dfb1c1675a94cb011c25a6cae3800365c67c532ce

pkgname = kingsmerchant
